html{
    font-size: 10px;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
}

header{
    width: clamp(50rem, 5vw, 80rem);
    height: 15vh;
    border: 1px solid black;
}
main{
    width: clamp(50rem, 5vw, 80rem);
    height: 75vh;
    border: 1px solid black;
}