*, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
}

html{
    font-size: 10px;
}
body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header{
    width: min(100%, 50rem);
    height: 15vh;
    border: 1px solid black;
}
main{
    width: min(100%, 80rem);
    height: 75vh;
    border: 1px solid black;
}
footer{
    width: min(100%, 80rem);
    height: 10vh;
    border: 1px solid black;
}

.no-display{
    display: none;
}

.tool{
    border-radius: 10%;
    background-color: var(--gray);
    box-shadow: .5rem .7rem .1rem var(--shadow-color);
}