*, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
}

html{
    font-size: 10px;
}
.container{
    margin: 0 auto;
    width: min(100%, 60rem);
}
header{
    padding: 1rem;
    height: 18vh;
    display: grid;
    grid-template-columns: repeat(5, 6rem);
    gap: 6.5rem;
    align-items: center;
    overflow-x: auto;
}
main{
    padding: 1rem;
    width: 100%;
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    padding: .5rem;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown{
    margin: 0 auto;
    padding: 1rem;
    width: 28rem;
    height: 12rem;
    border-radius: 5%;
    background-color: var(--white);
    box-shadow: .5rem .5rem .1rem var(--shadow-color);
    position: absolute;
    top: 18vh;
    left: 0;
    right: 0;
}
.option-label{
    width: 100%;
    text-align: center;
}

.color-options, .erase-options{
    border: .3rem solid var(--yellow);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.resize-options{
    border: .3rem solid var(--yellow);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.resize-options > div{
    width: 50%;
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: .5rem;
}

.usual-img{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.9rem;
    height: 3.3rem;
    background-color: transparent;
    border: none;
    position: relative;
    top: .3rem;
    pointer-events: none;
}
.usual-img::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}
.usual-img::-moz-color-swatch{
    border: none;
    border-radius: 50%;
}
.random-img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--red), var(--yellow), var(--blue));
    position: relative;
    top: .5rem;
}

input[type='range']{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
input[type='range']::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: .3rem;
    background: var(--black);
    border-radius: 15%;
}
input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -.7rem;
    width: 1.8rem;
    height: 1.8rem;
    background: var(--yellow);
    border-radius: 15%;
    border: .1rem solid var(--black);
}


.tool{
    width: 6rem;
    height: 6rem;
    border-radius: 10%;
    background-color: var(--gray);
    box-shadow: .5rem .5rem .1rem var(--shadow-color);
    font-size: .8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease-in-out 0.02s;
    cursor: pointer;
}
.tool > *{
    pointer-events: none;
}
.tool:hover{
    background-color: var(--yellow);
}
.tool:active{
    top: .5rem;
    left: .5rem;
    background-color: var(--yellow);
    box-shadow: 0rem 0rem .1rem var(--shadow-color);
}

.color-img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
    top: .5rem;
}
.erase-img, .fill-img{
    width: 3rem;
    height: 3rem;
    position: relative;
    top: .4rem;
}
.clear-img{
    width: 3.1rem;
    height: 3.1rem;
    position: relative;
    top: .4rem;
}
.resize-img{
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    top: .4rem;
}
.grid-img{
    width: 2.8rem;
    height: 2.8rem;
    position: relative;
    top: .4rem;
}

.canvas{
    width: min(100%, 50rem);
    height: min(100%, 50rem);
    border: .3rem solid var(--black);
}

.notice{
    text-align: center;
    line-height: 1.5rem;
    font-size: clamp(.8rem, 2vw, 1rem);
}
.notice > a{
    text-decoration: none;
}
.notice > a:hover{
    text-decoration: underline var(--black);
}

.no-display{
    display: none;
}
.selected{
    background-color: var(--yellow);
}
.block{
    width: auto;
    height: auto;
}
.grid{
    border: .1rem solid var(--shadow-color);
}